In [ ]:
%pip install cassandra-driver pyarrow pandas

In [ ]:
from cassandra.cluster import Cluster
import pandas as pd

In [ ]:
# Connessione all'istanza (Docker) di Cassandra
cluster = Cluster(['localhost'])
session = cluster.connect()

In [ ]:
# Creazione della keyspace
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS learn_cassandra
    WITH REPLICATION = {
        'class' : 'NetworkTopologyStrategy',
        'datacenter1' : 1
    };
""")

In [ ]:
# Utilizzo della keyspace creata
session.set_keyspace('learn_cassandra')

In [ ]:
# Creazione della tabella
session.execute("""
    CREATE TABLE IF NOT EXISTS users_by_country (
        country text,
        user_email text,
        first_name text,
        last_name text,
        age smallint,
        PRIMARY KEY ((country), user_email)
    );
""")

In [ ]:
# Inserimento dei dati nella tabella
session.execute("""
    INSERT INTO users_by_country (country, user_email, first_name, last_name, age)
    VALUES ('US', 'john@email.com', 'John', 'Wick', 55);
""")
session.execute("""
    INSERT INTO users_by_country (country, user_email, first_name, last_name, age)
    VALUES ('UK', 'peter@email.com', 'Peter', 'Clark', 65);
""")
session.execute("""
    INSERT INTO users_by_country (country, user_email, first_name, last_name, age)
    VALUES ('UK', 'bob@email.com', 'Bob', 'Sandler', 23);
""")
session.execute("""
    INSERT INTO users_by_country (country, user_email, first_name, last_name, age)
    VALUES ('UK', 'alice@email.com', 'Alice', 'Brown', 26);
""")

In [36]:
# Esecuzione della query e memorizzazione dei risultati nel DataFrame
rows = session.execute("SELECT * FROM users_by_country WHERE country='UK';")
df = pd.DataFrame(list(rows))

# Stampa il DataFrame
print(df)

  country       user_email  age first_name last_name
0      UK  alice@email.com   26      Alice     Brown
1      UK    bob@email.com   23        Bob   Sandler
2      UK  peter@email.com   65      Peter     Clark

In [ ]:
# Chiusura della connessione
session.shutdown()
cluster.shutdown()